@font-face {
    font-family: 'DotGothic16';
    src: local('DotGothic16 Regular'), local('DotGothic16-Regular'),
        url('DotGothic16-Regular.woff2') format('woff2'),
        url('DotGothic16-Regular.woff') format('woff'),
        url('DotGothic16-Regular.ttf') format('truetype'),
        url('DotGothic16-Regular.svg#DotGothic16-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --ff-mono: "DotGothic16", monospace !important;
}
